{%- do view.registerAssetBundle("wsydney76\\elementmap5\\assets\\ElementMapBundle") -%}

<a class="btn" id="map-btn">{{ 'Relationships'|t('elementmap5') }}</a>

{% set ajaxBaseUrl = cpUrl("elementmap-getrelations/#{element.site.handle}/#{class}/#{element.id}") %}

{% js at POS_END %}
    ajaxBaseUrl = '{{ ajaxBaseUrl }}';
    draftId = 0;
{% endjs %}

